<div class="row">
  <div class="col-lg-12 col-sm-12">
    <div class="entrada">
      <h1 class="textoPrincipal text-flicker-in-glow">Achei Digital criação de sites</h1>
    </div>
  </div>
  <div class="col-lg-12 col-sm-12 corpo">
    <h2 class="bemVindo">Seja bem vindo(a)</h2>
    <p>Com certeza você já sabe a importância de ter um site, segundo Kotler, <cite>“quando uma pessoa usa um site de
        busca ele já está decidido em realizar a compra de um produto ou serviço”</cite>. </p>
    <p>As redes sociais são uma ferramenta muito importante, é uma grande vitrine voltada para todos os públicos, é
      importante também para você mostrar seu trabalho e o seu cotidiano, mas com um site você tem a possibilidade de
      abordar o cliente quando ele está mais disposto a gastar. </p>
    <p>Outra dica importante é que com um site você pode fazer uma campanha bem estruturada com trafego pago, inserir
      seus dados com mais informações no google maps entre outras vantagens </p>
    <p>Queremos entregar o melhor site para o nosso cliente, estaremos empenhados em desenvolver o melhor site para
      você. </p>
    <p>Nossa missão é ir além de um site bonito e sim um site responsivo, ou seja, otimizado para dispositivos mobiles.
    </p>
    <p>Iremos também desenvolver com a melhor tecnologia de SEO, seu site estará bem posicionado nos melhores sites de
      busca. </p>
    <h2 class="bemVindo">Alguns sites modelos</h2>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="card">
          <img src="../../../assets/img/telaTaekwondo.jpg" class="card-img-top img-fluid"
            alt="Imagem site Taekwondo Family">
          <div class="card-body">
            <h5 class="card-title">Taekwondo Family</h5>
            <p class="card-text">
              Desenvolvemos esse site para mostrar uma opção para aqueles de sejam um site para academia, centro de
              treinamentos,etc...

            </p>
            <p class="card-text">
              É uma ótima oportunidade para você entender como um site pode te ajudar
            </p>
            <a href="https:taekwondo-family.achei.digital" target="_blank" class="btn btn-primary">Site Taekwondo
              Family</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="card">
          <img src="../../../assets/img/telaMarSantista.jpg" class="card-img-top img-fluid"
            alt="Imagem site mar Santista">
          <div class="card-body">
            <h5 class="card-title">Mar Santista</h5>
            <p class="card-text">Esse é um site de um restaurante fictício lá você poderá ver algumas funcionalidades
              bem interessante, como integração com o maps ou download do cardápio </p>
            <a href="https://mardesantos.achei.digital/" target="_blank" class="btn btn-primary">Site Mar Santista</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="card">
          <img src="../../../assets/img/telaBruno.jpg" class="card-img-top img-fluid" alt="Imagem site Personal Bruno">
          <div class="card-body">
            <h5 class="card-title">Personal Bruno</h5>
            <p class="card-text">
              Um modelo para nossos clientes que são profissionais liberais, lá contamos uma história fictícia sobre um
              personagem, ele está oferecem e mostrando seus serviços
            </p>
            <a href="https://personalbruno.achei.digital/" target="_blank" class="btn btn-primary">Site Personal Bruno
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="card">
          <img src="../../../assets/img/sitejuliana.jpg" class="card-img-top img-fluid"
            alt="Imagem site Personal Bruno">
          <div class="card-body">
            <h5 class="card-title">Personal Juliana</h5>
            <p class="card-text">
              Um modelo para nossos clientes que são profissionais liberais, lá contamos uma história fictícia sobre um
              personagem, ela está oferecemdo seus serviços
            </p>
            <a href="https://personaljuliana.achei.digital/" target="_blank" class="btn btn-primary">Site Personal
              Juliana </a>
          </div>
        </div>
      </div>
    </div>
    <p style="margin-top: 15px;">É aí curtiu nosso trabalho entre em contato conosco, iremos juntos fazer sites
      incríveis!</p>
    <app-contato></app-contato>
  </div>
</div>