.corpo{
    color: aliceblue;
    padding: 15px;
    text-align: justify;
}

.imagem{
    height: 40vh;
    margin-left: 35%;
}


@media screen and (max-width:500px){
    .imagem{
        height: 40vh;
        margin-left:0;
    }
}