<ngb-carousel >
	<ng-template ngbSlide>
		<div class="quem picsum-img-wrapper">
			
		</div>

	</ng-template>
	<ng-template ngbSlide>
		<div class="quem2 picsum-img-wrapper">
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="quem3 picsum-img-wrapper">
			
		</div>
	</ng-template>
</ngb-carousel>


<div class="corpo">
    <h2>Quem Somos?</h2>
    <p>Somos um grupo de desenvolvedores, que atuam no mercado trabalho e como freelance desenvolvemos sites, temos grandes responsabilidades e iremos desenvolver o seu site com a maior qualidade.</p>
    <p>Usamos as melhores ferramentas disponíveis no mercado, para o frontend, ou seja, o que o cliente vê usamos a tecnologia Angular, a mesma foi desenvolvida pelo Google e nos traz a vantagem de desenvolver site responsivos e que os sites de busca indexem melhor maneira.</p>
    <p>Outras tecnologias que usamos e a Material design e Bootstrap, que irá nos auxiliares a criar sites com funcionalidades mais bonitas.</p>
    <p>Se houver a necessidade de usar alguma linguagem de programação para criar login, consumir alguma api ou trabalhar com banco de dados, iremos estudar a melhor tecnologia para atender a sua demanda.</p>
</div>