<ngb-carousel>
	<ng-template ngbSlide>
		<div class=" picsum-img-wrapper ">
			<img class="imagem img-fluid" src="../../../assets/img/imagem1.jpg" alt="">
		</div>

	</ng-template>
	<ng-template ngbSlide>
		<div class=" picsum-img-wrapper">
			<img class="imagem img-fluid" src="../../../assets/img/images.jpeg" alt="">
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img class="imagem img-fluid" src="../../../assets/img/images2.jpg" alt="">

		</div>
	</ng-template>
</ngb-carousel>


<div class="corpo">
	<h2>Quem Somos?</h2>
	<p>Somos uma <strong> empresa familiar especializada em desenvolvimento de sites,</strong> unindo expertise técnica
		e um compromisso genuíno
		em transformar suas ideias em realidade digital. Com experiência tanto no mercado corporativo quanto em projetos
		freelancers, nossa equipe combina profissionalismo, criatividade e atenção personalizada para entregar soluções
		que
		impressionam e geram resultados.
	</p>
	<h3>Tecnologias que impulsionam seu projeto:</h3>
	<ul>
		<li>Frontend moderno: Utilizamos Angular (desenvolvido pelo Google) para criar sites responsivos, rápidos e
			otimizados para
			SEO, garantindo que sua página seja bem rankeada em mecanismos de busca.</li>
		<li>Design impecável: Integramos Material Design e Bootstrap para interfaces intuitivas, visualmente atraentes e
			adaptáveis
			a qualquer dispositivo (desktop, tablet ou mobile).
		</li>
	</ul>
	<h3>Nosso diferencial:</h3>
	<p>Como empresa familiar, valorizamos relacionamentos próximos e transparentes. Trabalhamos com agilidade e cuidado
		artesanal, desde o planejamento até a entrega final, para que seu site não apenas funcione perfeitamente, mas
		também
		reflita a essência da sua marca.</p>

	<h3> Compromisso com você:</h3>
	<p>Estudamos cada demanda individualmente para escolher a melhor stack tecnológica, sempre alinhada às suas
		necessidades e orçamento. Nosso objetivo é ser seu parceiro de longo prazo, oferecendo suporte contínuo e
		inovação para que seu
		negóciose destaque no mundo digital.</p>
	<p>Vamos construir algo incrível juntos? </p>
	<p>Entre em contato e descubra como nossa paixão por desenvolvimento web pode elevar sua presença online!</p>

</div>