<h2 class="caixa">Parceiros</h2>

<p>Estes sites foram desenvolvidos para a criação do nosso portifólio, são sites de profissionais e toda a informação
    contida é de responsabilidade dos mesmos.</p>
<div class="row">
    <div class="col-sm-12 col-lg-6 site">
        <h3>Drª Elicéia Araujo.</h3>
        <p>Advogada com atuação na área de direito familiar e de sucessões. </p>
        <figure>
            <img src="../../../assets/img/siteEliceia.jpg" alt="Site Drª Eliceia Araujo"
                class="img-fluid img-thumbnail ">
            <figcaption>Imagem do site Drº Elicéia Araujo</figcaption>
        </figure>
        <a href="https://eliceiaaraujo.adv.br/" target="_blank" class="btn btn-large btn-primary">Visite o Site</a>
    </div>
    <div class="col-sm-12 col-lg-6 site">

        <h3>RA - Modas</h3>
        <p>Renata Andrea é uma comerciante da área de vestuário que tem os mais variados produtos para todos os públicos
            (magrinha à plusceza).</p>
        <figure>
            <img src="../../../assets/img/siteRAModas.jpg" alt="Site Drª Eliceia Araujo"
                class="img-fluid img-thumbnail ">
            <figcaption>Imagem do site RA - Modas</figcaption>
        </figure>
        <a href="https://ramodas.achei.digital" target="_blank" class="btn btn-large btn-primary">Visite o Site</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-6">
        <div class="card">
            <div class="card-header">Futuro Parceiro</div>
            <div class="card-body">
                <img src="../../../assets/img/handshake.webp" alt="" class="img-fluid img-thumbnail imgparceiro ">
                <p>Se você desejar ser um dos nossos parceiros temos 2 vagas para preencher em nosso portifólio, basta
                    entrar em contato como a nossa equipe!</p>
            </div>
            <div class="card-action">
                <button routerLink="/contato" class="btn btn-large btn-parceiro">Entre em Contato AGORA!</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="card">
            <div class="card-header">Futuro Parceiro</div>
            <div class="card-body">
                <img src="../../../assets/img/handshake.webp" alt="" class="img-fluid img-thumbnail imgparceiro ">
                <p>Se você desejar ser um dos nossos parceiros temos 2 vagas para preencher em nosso portifólio, basta
                    entrar em contato como a nossa equipe!</p>
            </div>
            <div class="card-action">
                <button routerLink="/contato" class="btn btn-large btn-parceiro">Entre em Contato AGORA!</button>
            </div>
        </div>
    </div>
</div>
<p>Agradecemos muito a confiança dos nossos parceiros, que além de parceiros são nossos amigos, desejamos que os sites ajudem a alavancar os seus negócios.</p>
<p> Como acima já foi dito temos 2 vagas para novos parceiros, desejamos que seja preenchida por alguém que realmente deseje que o seu negocio expanda para o infinito e além.</p>