.nav{
    min-width: 100vw;
    min-height: 70px;
    background-color:#224c8d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
    height: auto;
    padding: 15px;

    
}
.logo{
    padding: 0;
    max-width: 100px;
}
.body{
    min-height: 100vh;
    overflow-x: hidden;
    padding: 10px;
    background: linear-gradient(180deg, rgba(34,76,141,1) 0%, rgba(0,0,0,1) 100%); }
.navBtnDiv{
    display: block;
    position: fixed;
    z-index: 3;
    top:35px;
    right: 15px;    
    color: rgb(3, 4, 5);
}
.btnNav{
    color: white;
    background-color: #224c8d;
    display: flex;
    align-items: center;
}
.footer{
    background-color: black;
    color:wheat;
    display: flex;
    flex-direction: row;
    align-items: first safe ;
    justify-content: end;
    padding-top: 15px;
    padding-right: 15px;
    
}
.conteudo{
    min-width: 45%;
    max-width: 70%;
    background-color: #224c8d;
    color: aliceblue;
    display: block;
    position: fixed;
    margin-top: 80px;
}
.conteudo h2{
    text-align: center;
    margin-top: 15px;
}
.links{
    padding: 15px;  ;  
}
.link a{
    color: rgb(255, 255,255) ;
    text-decoration: none;
    display: flex;
    justify-content: safe space-around;
    align-items: center;
    margin-right: 30px;
    padding-left: 45px;
}
.link a:hover{
    margin:0 ;
    color: rgb(255, 209, 3);
    font-size: large;
}
.link mat-icon{
    margin-right: 6px;
}
.footer mat-icon{
    margin-right: 5px;
}
.footer {
    text-decoration: none;
    color:wheat
}
#cookies{
    height: max-content;
    width: 100%;
    margin: 0;
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 2;
}
