.formulario{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}
h3{
    color: aliceblue;
}
mat-form-field{
    width: 40%;
}
.icones img{
    width: 80px;
}
.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
@media screen and (max-width:500px) {
    mat-form-field{
        width: 90%;
    }
    .icones{
        justify-content: space-around;
    }
}